<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sweetaste：最讚的甜點都在這</title>
  <meta property="og:image" content="https://images.unsplash.com/photo-1473256599800-b48c7c88cd7e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ae0d68ab0db4ee79bdce92722b31112b&auto=format&fit=crop&w=500&q=60" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/all.css">
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
</head>

<body>

  <div class="container">
    <nav class="navbar p-0">
      <button class="btn d-md-none"><i class="material-icons text-primary">
          menu
          </i></button>
      <a href="index.html" class="text-hide">
        <img class="d-none d-md-block" src="img/logo-all-dark.svg" width="220px" height="90px" alt=""> Sweetaste：最讚的甜點都在這
        <img class="d-md-none" src="img/logotype-sm-dark.svg" width="115px" height="18px" alt=""> Sweetaste：最讚的甜點都在這
      </a>
      <ul class="nav d-none d-md-flex font-weight-bold">
        <li class="nav-item">
          <a class="nav-link p-0 px-3 pt-5 pb-3 active" href="index.html">首頁</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-0 px-3 pt-5 pb-3" href="product.html">甜點</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-0 px-3 pt-5 pb-3" href="login.html">登入</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-0 pl-3 ml-5 pt-5 pb-3" href="cart.html">
            <i class="material-icons">
              shopping_cart
            </i>
          </a>
        </li>
      </ul>
      <a class="nav-link py-3 d-md-none" href="cart.html">
          <i class="material-icons">
            shopping_cart
          </i>
        </a>
    </nav>
  </div>
  <%- contents %>
    <div class="bg-primary">
      <div class="container">
        <div class="row justify-content-center py-3">
          <div class="col-lg-10 col-md-12">
            <div class="row">
              <div class="col-md-6 d-flex align-self-center col-12 justify-content-md-start justify-content-center ">
                <img src="img/logo-light.svg" height="40px" width="40px" alt="">
                <span class="text-secondary text-24 ml-2">訂閱你我的甜蜜郵件</span>
              </div>
              <div class="col-md-6 mt-2 mt-md-0 col-11 mx-auto col-sm-12">
                <div class="input-group input-group-lg bg-secondary">
                  <div class="input-group-append">
                    <span class="btn d-flex align-self-center">
                      <i class="material-icons text-primary">mail</i>
                    </sapn>
                  </div>
                  <input type="text" class="form-control bg-secondary" aria-label="" aria-describedby="">
                  <div class="input-group-append">
                    <button class="btn btn-success" type="button">
                      <i class="material-icons text-primary d-flex align-self-center">arrow_forward</i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-secondary">
      <div class="container">
        <div class="row justify-content-center py-3">
          <div class="col-lg-10 col-11 col-sm-12 mx-auto">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="d-flex align-items-start flex-column" style="height: 100%;">
                  <div class="mb-auto">
                    <img src="img/logotype-lg-dark.svg" height="27px" width="172px" alt="">
                  </div>
                  <div class="text-primary mt-6 mt-md-0">
                    07-1234-5678
                    <br> sweetaste@email.com
                    <br> 800 高雄市新興區幸福路 520 號
                  </div>
                  <div class="mt-3">
                    <a href="#">
                      <img src="img/ic-line@.svg" height="32px" width="32px" alt="">
                    </a>
                    <a href="#" class="pl-1">
                      <img src="img/ic-facebook.svg" height="32px" width="32px" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="d-flex align-items-md-end align-items-sm-start flex-column" style="height: 100%;">
                  <div class="mb-auto d-none d-md-block">
                    <img src="img/q4-footer.svg" width="60px" height="220px" alt="">
                  </div>
                  <div class="text-primary mt-md-5 mt-3" style="font-family:'Times', Times New Roman, serif">
                    © 2018 Sweetaste* All Rights Reserved
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <script src="/javascripts/vendor.js"></script>
</body>

</html>